*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

main {
  display: flex;
}

/* 
=============
SplashScreen
==========
 */

/* 
=============
Top-Navbar
==========
 */

/* 
=============
Bottom-Navbar
==========
 */

/* 
=============
HomePage
==========
 */

/* 
=============
  Login
==========
 */

/* 
=============
Signup
==========
 */

/* 
=============
Profile
==========
 */

@media screen and (min-width: 800px) {
}
